@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;1,400;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5372F0;
}

.container{
    width: 690px;
    max-width: 90%;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
}

.wrapper{
    border-radius: 5px;
    border: 1px solid #bbb;
}

.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input  .to-text{
    border-left: 1px solid #bbb;
    border-radius: 0px;
}

.text-input textarea{
    height: 250px;
    max-height: 60%;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 10px 15px;
    resize: none;
}

ul{
    max-width: 100%;
    padding: 12px 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #c5c839; */
}


li{
    max-width: auto;
    /* background: #075875; */
    display: flex;
    justify-content: center;
    align-items: center;
}

ul #from{
    padding: 0 0.5rem;
}

ul #to{
    padding: 0 0.5rem;
}


ul #from .icons{
    width: 5rem;
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #bbb;
    display: flex;
    justify-content: space-between;
}

ul #to .icons{
    width: 5rem;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid #bbb;
    display: flex;
    justify-content: space-between;
}

ul .icons{
    width: 38%;
}


ul .icons i{
    color: #9f9f9f;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;

}

ul .row select{
    border: none;
    outline: none;
    font-size: 0.8rem;
    background: none;
}

ul .exchange{
    color: #9f9f9f;
    font-size: 1rem;
    cursor: pointer;
} 

.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    color: white;
    border-radius: 5px;
    background: #5372F0;
}